.Chat{
    height: 80%;
    width: 90%;
    background-color: #ffffff;
    padding: 2%;
    line-height: 100%;
    text-align: center;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.messageList{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: block;
}


.messageList::-webkit-scrollbar {
    width: 10px;             /* ширина scrollbar */
  }
  .messageList::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.542);        /* цвет дорожки */
  }
  .messageList::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* цвет плашки */ 
  }

.chatsList::-webkit-scrollbar {
    width: 10px;             /* ширина scrollbar */
  }
  .chatsList::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.542);        /* цвет дорожки */
  }
  .chatsList::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* цвет плашки */ 
  }


.messageList{
    display: flex;
    flex-direction: column;
}


.messageBlock{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}
 .messageList .message{
    line-height: 100%;
    position: relative;
    display: flex;
}

.userNameMessage{
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px;
}

.Chat .messageList{
    font-size: 10px;
}

.messageText{
    word-break: break-all;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 2% 7%;
    border-radius: 30px;
    text-align: right;
    width: auto;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message.right, .message.left{
    display: flex;
    flex-direction: column;
}

.message.left{
    width: 100%;
    margin-right: 50%;
}

.message.left .messageText{
    text-align: left;
}

.Chat .messageList {
    background-color: #ffffff;
    line-height: 100%;
    font-size: 30px;
    overflow-x: hidden;
}

.message.left{
    width: 50%;
    right: 0vw;
}

.message.left .userNameMessage{
    flex-direction: row;
    padding: 0 0 0 2%;
}

.userNameMessage{
    font-weight: bold;
}

.message.right{
    width: 50%;
}
.inputBox{
    width: 100%;
    display: flex;
    padding: 2% 0;
    justify-content: space-between;
}
.inputBox input{
    width: 70%;
    border: 2px solid #000000;
    border-radius: 20px;
}
.btnSend{
    width: 25%;
    margin:0px;
    background-color: cadetblue;
    border: 1px solid #00000030;
    border-radius: 25px;
    cursor: pointer;
}

.btnSend:hover{
    background-color: rgb(76, 128, 130);
    border: 1px solid #000000af;
}
.additionalChats{
    height: 50px;
    margin-top: 2%;
    width: 100%;
    background-color: #ffffff;
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;
    line-height: 100%;
    text-align: center;
    font-size: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 2%;
    font-family:"Roboto-mono";
}

.additionalChats:hover{
    background-color: #e3e3e3;  
}
.chatsList{
    height: 80%;
    width: 150px;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btnSend p{
    font-size: 1rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.additionalChats p{
    word-break: break-all;
}

.nav-admin{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.niggers{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigger{
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    background-color: #e8e8e8;
    justify-content: center;
}

.bbbbbbb{
    display: none;
}


@media (max-width:820px){
    .nav-admin{
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
        padding: 5% 0;
    }

    .Chat-allign{
        width: 100%;
        padding: 5% 0;
        flex-direction: column;
    }

    .Chat-allign .Chat{
        width: 90%;
    }

    .Profile-block-allign{
        padding: 2%;
    }

    .Profile-block{
        width: 83%;
    }

    .Chat-block{
        width: 100%;
    }

    .chatsList{
        display: flex;
        max-height: 300px;
        width: 80%;
        margin-bottom: 2%;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-wrap: wrap;
    }

    .messageList{
        height: 290px;
    }

    .additionalChats{
        width: 41%;
        margin-top: 4%;
        margin-left: 3.5%;
    }

    .inputBox input{
        width: 68%;
    }
}