.filterBox{
    width: 25%;
    min-height: auto;
    border-radius: 0px;
    padding: 20px 0;
    display: block;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    background-color: #ffffff;
    position: fixed;
}
.filterBox .filterSlot{
    margin: 10px;
    width: 90%;
    display: flex;
}
.filterBox .filterSlot .filterTag{
    line-height: 50px;
    flex: 50px;
    margin: 5px;
}
.filterBox .filterSlot .filterInput{
    margin: auto;
    flex: 300px;
    height: 70%;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #000000;
}
@media (max-width:820px){
    .filterBox{
        position: relative;
        width: 85%;
    }
}




