    .repair_btn{
    display:flex;
    align-Items:center;
    justify-Content:center;
    background-Color:white;
    cursor:pointer;
    height:60px;
    width:100%;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #00000078;
}

body::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.542);        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* цвет плашки */ 
  }
  
  .popup__content::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
  }
  .popup__content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.542);        /* цвет дорожки */
  }
  .popup__content::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* цвет плашки */ 
  }

.repair_btn:hover{
    background-color: #e2e2e2;
}

#filterBox{
    width: 30%;
    height: auto;
    min-width: 170px;
}

.HeaderNav{
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.Products-List{
    width: 70%;
}

.Items-inside-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Filter-Content-Allign{
    display: flex;
    flex-direction: row;
    width: 85% ;
}

.Map-btn{
    background-color: #000000;
    border-radius: 5px;
    border: 2px solid white;
    width: 150px;
    padding: 10px 10px;
    font-size: 1rem;
    color: white;
    font-family: 'Segoe UI's;
}

.MainPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.FullScreen{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../image/FullScreenBg.jpg);
    background-size: cover;
}

.FullScreen img{
    height: 5vw;
}

.TextFullScreen{
    text-align: center;
    font-family: 'Segoe UI';
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
}

.imageBox img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    background-color: rgba(255, 255, 255, 0.479);
}

.main-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;   
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.main-info-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}

.main-info-img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    z-index: 5;
    overflow: hidden;
    width: 50%;
}

.main-info-img img{
    height: 70%;
    object-fit: cover;
    overflow: hidden;
}

.text-block{
    padding: 5%;
    width: 69%;
    font-size: 1.6rem;
}

.Item-Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Item-Content hr{
    width: 50%;
}

.Buy_btn{
    background-color: white;
    padding: 5px 20px;
    margin-top: 5%;
    font-size: 1rem;
    cursor: pointer;
}

.Buy_btn:hover{
    background-color: #e2e2e2;
}

.name,.price{
    text-align: center;
    color: white;
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5%;
}

.name2{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5%;
}

.short{
    height: auto;
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(71, 71, 71);
    padding: 0 10px;
    text-overflow: ellipsis;
}
.short p{
    overflow: hidden;
    text-overflow: clip;
    height: 109px;
    white-space: pre-wrap;
    word-break: keep-all;
    color: white;
    background-color: #000000ba;
    padding: 10px;
    border-radius: 10px;
}

.text-block ul li:hover{
    text-decoration: underline;
    color: rgb(86, 187, 253);
    cursor: pointer;
}
.map-widget{
    background-color: white;
}

.text-map{
    padding-left: 2%; 
    margin-bottom:4%;
    display: flex;
    flex-direction: column;
}


.map-marker{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.map-marker hr{
    width: 10%;
    background-color: black;
    height: 4px;
    margin: 0;
    padding: 0;
    border: 0;
}

.text-map img{
    height: 3vw;
}

.map-widget h1{
    letter-spacing: 2px;
}

.frame-map{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bebra{
    display: flex;
    flex-direction: row;
}

.About-us_block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us_content{
    width: 90%;
    display: flex;
    align-Items: center;
    justify-Content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.info-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2%;
    border-bottom: 4px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.info-text{
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.info-text2{
    font-size: 1rem;
    display: flex;
    padding: 2%;
    flex-direction: column;
    border-bottom: 4px solid black;
    margin-bottom: 2%;
    background-color: white;
}

.choetoblya h1{
    font-family: "deff";
    text-align: center;
    margin-top: 2%;
    font-size: 3rem;
    background-color: white;
    display: inline-block;
    width: 100%;
    z-index: 2;
    letter-spacing: 2px;
    padding: 2% 0 2% 0;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.maintext-about{
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding:  0 0 2% 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.info-text hr{
    width: 20%;
    height: 6px;
    background-color: #000000;
    border: 0;
    margin-top: 2%;
    margin-left: 10%;
}

.info-text2 h1{
    margin: 0;
}
.info-image{
    width: 40%;
    height: 70%;
}

.choetoblya{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text2 p,.info-text p {
    text-indent: 40px;
    font-size: 1.2rem;
    font-family: "deff";
    padding: 2% 4% 0 4%;
}

.info-1 img{
    width: 30%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
    height: 63%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.info-text2 p img{
    width: 300px;
    height: 300px;
    float: right;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    border-radius: 50%;
    shape-outside: circle();
}

.image-about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.info-1 .image-100w{
    width: 70%;
    object-fit:cover;
}


.secondimg{
    width: 100%;
}

.Chat-block{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #b3b3b3;
}

.Chat-allign{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
}

.Chat-allign .Chat{
    width: 40%;
}

.Profile-block-allign{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-block{
    background-color: rgb(230 230 230);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    border-radius: 10px;
    align-items: center;
    font-family: "Roboto-mono";
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.change-btn{
    background-color: white;
    width: 50%;
    height: 30px;
    cursor: pointer;
}

.change-btn:hover{
    background-color: #e3e3e3;
}

.Profile-block input {
    margin: 15px 20px;
    height: 30px;
    width: 80%;
}

.Profile-block p{
    width: 80%;
}

.Shor-list-allign{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Shor-list-kek{
    padding: 5%;
}

.shortList{
    margin-top: 2%;
}

.ShortProductsSlot{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto-mono2";
}

.Products-short-allign-item{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.short-desc{
    width: 90%;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(71, 71, 71);
    padding: 0 10px;
    text-overflow: ellipsis;
    padding: 2%;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.short-desc p{
    height: 100%;
}

.po4inis{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-desc{
    width: 70%;   
}

.adress{
    width: 50%;
}

.break-all{
word-break: break-all;
font-weight: 100;
}

.price-desc{
    text-align: center;
    width: 50%;
}

.Orders-block{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.Orders-block-allign{
    padding: 5%;
}


.ClientBlock-{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}



.itemid-info{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.image-item-id{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rblock-id-info{
    align-items: center;
    text-align: right;
    background-color: white;
    width: 70%;
    padding: 2%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Name, .Type, .Mark, .shortDescription, .fullDescription{
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Name p, .Type p, .Mark p, .shortDescription p, .fullDescription p{
    background-color: #e3e3e3;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'deff';
}

.price{
    border-radius: 10px;
    margin-top: 2%;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 4%;
}

.block-id-together{
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: #ebecf1;
    border-radius: 5px;
    padding: 0 0 0 5%;
}

.rblock-id-info::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
  }
  .rblock-id-info::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.542);        /* цвет дорожки */
  }
  .rblock-id-info::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* цвет плашки */ 
  }

.gigachad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2%;
}

.not-read{
    font-size: 14px;
    text-align: right;
    margin-right: 5%;
}

.not-send{
    font-size: 14px;
    text-align: right;
    margin-left: 5%;
}

.Popusk{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:80%;
    font-size: 18px ;
    border-radius: 20px;
    padding: 2px 10px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    background-color: #0093E9;
    opacity: 0.9;
    font-family: "deff";
}

.Popusk a{
    font-size: 15px;
}

.Notification{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height: 70px;
    width: 150px;
    z-index: 1000000;
    left:89%;
    border-radius: 20px;
    padding: 0 5px;
    top:10%;
    -webkit-box-shadow: 0px 5px 14px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 14px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 14px -5px rgba(34, 60, 80, 0.6);
}

.navigationSecond{
    height: 60vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections{
    background: rgb(255, 255, 255);
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.block-link{
    height: 50vh;
    background-color: #0093E9;
    width: 20%;
    border-radius: 15px;
}

.repairb{
    background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../image/фиксик.jpg);
    background-size: cover;
}

.accountb{
    background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../image/аккаунт.png);
    background-size: cover;
    background-size: 200px 200px;
}


.aboutUsb{
    background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../image/вопрос.png);
    background-size: cover;
    background-size: 200px 200px;
}

.repairb, .accountb, .aboutUsb{
    flex-basis: 30%;
    transition: 0.5s ease-in;
}

.repairb:hover, .accountb:hover, .aboutUsb:hover{
    flex-basis: 35%;
    transition: 0.5s ease-in;
}

.block-link{
    font-size: 2rem;
}

.block-link h3{
    margin: 0;
    color: #ffffff;
    min-height: 100px;
    max-width: n;
}

.block-link p{
    color: white;
    font-size: 1.2rem;
    margin-top: 5%;
    min-height: 100px;
    max-width: 250px;
}

.block-link-btn{
    padding: 15px 30px;
    margin-top: 10%;
    font-size: 1.3rem;
    background-color: #00000000;
    border:0;
    font-family: "deff";
    border-radius: 10px;
    color: white;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 1);
    transition: 0.12s ease-in;
}

.block-link-btn a{
    padding: 0;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
}

.block-link-btn:hover{
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 146, 0, 1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255, 146, 0, 1);
    box-shadow: 0px 0px 0px 4px rgba(255, 146, 0, 1);
    cursor: pointer;
    color: rgba(255, 146, 0, 1);
    transition: 0.12s ease-in;
}

.block-link-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 15px 15px;
    background: #0093E9;
    background: rgb(0,147,233);
    background: rgb(0,147,233);
    background: -moz-linear-gradient(90deg, rgba(0,147,233,1) 12%, rgba(0,147,233,1) 42%, rgba(0,147,233,1) 82%, rgba(0,147,233,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,147,233,1) 12%, rgba(0,147,233,1) 42%, rgba(0,147,233,1) 82%, rgba(0,147,233,0) 100%);
    background: linear-gradient(90deg, rgba(0,147,233,1) 12%, rgba(0,147,233,1) 42%, rgba(0,147,233,1) 82%, rgba(0,147,233,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0093e9",endColorstr="#0093e9",GradientType=1);
    padding-left: 10%;
    width: 70%;
    height: 100%;
}

.aboutUsb .block-link-info, .accountb .block-link-info{
    background-color: #0093E9;
    background: linear-gradient(90deg, #0093E9 12%, #0093E9 42%, #0093E9 82%, #0094e900);
}

#selectBackground{
    font-size: 1.3rem;
    width: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 0px solid; 
    border-radius: 5px;
    padding: 5px 10px;
}
#selectBackground option{
    padding: 5px 10px;
    border: 0px solid; 
}

.fullDescription label{
    text-align: center;
}

.booked-block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 200;
    border-radius: 10px;
}

.booked-block_img{
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

.product-wrapper{
    position: relative;
}

.booked-block_img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width:820px){
    .ClientBlock-{
        flex-direction: column;
        height: 100%;
    }

    .nav-admin{
        width: 100%;
    }

    .choetoblya{
        width: 100%;
        margin-top: 70px;
    }

    .image-about{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 4% 0;
        box-shadow: none;
    }

    .info-1 img{
        width: 100%;
        height: 100px;
        margin-top: 2%;
        box-shadow: none;
    }

    .Notification{
        position: fixed;
        left: 55%;
        top: 10%;
    }

    .sections{
        flex-direction: column;
        height: auto;
        padding: 5% 0;
    }

    .navigationSecond{
        height: auto;
    }

    .repairb, .accountb, .aboutUsb{
        width: 100%;
        margin-bottom: 5%;
    }

    .block-link-btn{
        margin-top: 3%;
    }

    .block-link-info{
        padding: 2%;
    }
}
