footer{
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-top: 4px solid black;
}

.footer-links{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.Links{
    width: 110%;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "deff";
    font-size: 1.2vw;
    width: 100%;
}

.link img{
    height: 1.5vw;
    margin-right: 5%;
}

.link a{
    font-weight: 400;
    font-size: 1rem;
}

.link a:hover{
    color: rgb(74, 67, 114);
}

.link p{
    margin-bottom: 2%;
}

.Rdfooter{
    display: flex;
}
.Rdfooter img{
    width: 10vw;
}

.footer-wrapper{
    flex-basis: 75%;
}

@media (max-width:820px){
    .Rdfooter{
        display: none;
    }

    .footer-links{
        width: 100%;
        justify-content: center;
        display: flex;
        margin-right: 0%;
        align-items: right;
    }

    .Links{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        padding-left: 20px;
    }

}
